*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    color:#ededed;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor:default;
}
.navbar a{
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover{
    color: #0ef;
}
.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background-color: #ba2be2;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}
.home-content{
    max-width: 600px;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
}
.home-content h3{
    color: #0ef;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
}
.home-scl p{
    font-size: 20px;
}
.home-scl a{
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 20%;
    font-size: 30px;
    color: #0ef;
    text-decoration: none;
    transition: .5s;
}
.home-scl a:hover{
    background-color: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}
.btn-box{
    display: inline-block;
    padding: 20px 25px;
    background-color: #0ef;
    border-radius: 50px;
    font-size: 14px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}
.btn-box:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan,0 0 50px cyan,
    0 0 100px cyan,0 0 200px cyan
}
.avatar{
    height: 80%;
    width: 80%;
    padding-top: 80px;
    padding-left: 90px;
    margin-left: 100px;

}
.about{
    height: 80vh;
    background-color:#8A2BE2 ;
}
.abt-container{
    display: flex;
    justify-content: space-between;
}
.abt-info h2{
    margin-left: 150px;
    font-size: 50px;
    font-weight: 600;
    padding-top: 120px;
    animation: slideTop 1s ease forwards;
    animation-delay: 0s;
}
.abt-spn{
    color: aqua;
    animation: slideTop 1s ease forwards;
    animation-delay: 0s;
}
.abt-info h4{
    margin-left: 150px;
    font-size: 40px;
    font-weight: 600;
    padding-top: 20px;
    animation: slideTop 1s ease forwards;
    animation-delay: 0s;
}
.abt-info p{
    margin-left: 130px;
    font-size: 20px;
    font-weight: 600;
    padding-top: 20px;
    padding:20px;
    animation: slideTop 1s ease forwards;
    animation-delay: 0s;
}
.abt-image img{
    height: 80%;
    width: 80%;
    padding-top: 100px;
    padding-right: 50px;
    animation: slideTop 1s ease forwards;
    animation-delay: 0s;
}

.skills-section {
    padding: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    /* width: 70%;
    max-width: 800px;
    margin: 0 auto; */
}

.skill-head{
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    padding-top: 120px;
}

.skill {
    
    margin-bottom: 20px;
}
.skill-bar{
    background-color: #8A2BE2;
    /* height: 80vh; */
    margin: 0;
    padding: 0;
    
}

.skill h3 {
    color: azure;
    font-size: 1rem;
    margin-bottom: 10px;
}

.progress-bar {
    padding-top: 10px;
    width: 500px;
    background-color: #222;
    /* border-radius: 10px; */
    overflow: hidden;
}

.progress {
    height: 10px;
    background-color: #00bfa6;
    border-radius: 10px;
    width: 0%;
    transition: width 2s ease;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contact{
    height: 100vh;
    background-color: #8A2BE2;
}
.contact-head{
    text-align: center;
    font-size: 50px;
    padding-top: 120px;

}
.contact-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 90vh;
}
.form{
    padding: 30px;
    background-color: #9db4c3;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0,2) , 0 6px 20px  rgba(0,0,0,0,19);
    border-radius: 5px;
}
 h3{
    align-items: center;
    padding: 10px;
    color: #fff;
 }
 input,textarea{
    width: 250px;
    display: block;
    padding: 10px;
    border-radius: 3px;
    font-size: 12px;
    margin: 15px;
    border: 0;
    outline: none;
 }
 #btn{
    padding: 10px;
    margin: 15px;
    width: 250px;
    border: 0;
    border-radius: 5px;
    background-color: #1e90ff;
    color: #0fff;
 }







































































